@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.eot");
  src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("OpenSans-Regular.woff2") format("woff2"),
    url("OpenSans-Regular.woff") format("woff"),
    url("OpenSans-Regular.ttf") format("truetype"),
    url("OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Italic.eot");
  src: url("OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("OpenSans-Italic.woff2") format("woff2"),
    url("OpenSans-Italic.woff") format("woff"),
    url("OpenSans-Italic.ttf") format("truetype"),
    url("OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("DMSerifDisplay-Regular.eot");
  src: url("DMSerifDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("DMSerifDisplay-Regular.woff2") format("woff2"),
    url("DMSerifDisplay-Regular.woff") format("woff"),
    url("DMSerifDisplay-Regular.ttf") format("truetype"),
    url("DMSerifDisplay-Regular.svg#DMSerifDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("DMSerifDisplay-Italic.eot");
  src: url("DMSerifDisplay-Italic.eot?#iefix") format("embedded-opentype"),
    url("DMSerifDisplay-Italic.woff2") format("woff2"),
    url("DMSerifDisplay-Italic.woff") format("woff"),
    url("DMSerifDisplay-Italic.ttf") format("truetype"),
    url("DMSerifDisplay-Italic.svg#DMSerifDisplay-Italic") format("svg");
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.eot reg");
  src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("OpenSans-Regular.woff2") format("woff2"),
    url("OpenSans-Regular.woff") format("woff"),
    url("OpenSans-Regular.ttf") format("truetype"),
    url("OpenSans-Regular.svg#OpenSans-Regular") format("svg");
}

@font-face {
  font-family: "Open Sans it";
  src: url("OpenSans-Italic.eot");
  src: url("OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("OpenSans-Italic.woff2") format("woff2"),
    url("OpenSans-Italic.woff") format("woff"),
    url("OpenSans-Italic.ttf") format("truetype"),
    url("OpenSans-Italic.svg#OpenSans-Italic") format("svg");
}

@font-face {
  font-family: "DM Serif Display reg";
  src: url("DMSerifDisplay-Regular.eot");
  src: url("DMSerifDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("DMSerifDisplay-Regular.woff2") format("woff2"),
    url("DMSerifDisplay-Regular.woff") format("woff"),
    url("DMSerifDisplay-Regular.ttf") format("truetype"),
    url("DMSerifDisplay-Regular.svg#DMSerifDisplay-Regular") format("svg");
}

@font-face {
  font-family: "DM Serif Display it";
  src: url("DMSerifDisplay-Italic.eot");
  src: url("DMSerifDisplay-Italic.eot?#iefix") format("embedded-opentype"),
    url("DMSerifDisplay-Italic.woff2") format("woff2"),
    url("DMSerifDisplay-Italic.woff") format("woff"),
    url("DMSerifDisplay-Italic.ttf") format("truetype"),
    url("DMSerifDisplay-Italic.svg#DMSerifDisplay-Italic") format("svg");
}
